.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: 0.5px solid #ececec;
  padding: 10px;
}
.todo-item .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.todo-item > fa-icon {
  color: rgb(227, 61, 32);
}
.completed {
  color: grey;
  text-decoration: line-through;
  opacity: 0.6;
}
